*{
    margin: 0;
    padding: 0;
}

.table-box {
  overflow-x: auto;
  border-radius: 1px solid red ;
}
.table {
    background: none;
    border-radius: 5px;
    border: 1px solid red;
}
thead {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: -1;
}