<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>NERVESPARKS</title>
    <link rel="stylesheet" href="../Admin-dashboard/assest/css/dealership.css">

 
  </head>
  <body>
    <!-- Include header -->
    <%- include ('./common/header') %>

    <div class="container-fluid  new-box " >
      <div class="user-box col-md-8">
        <div class="user_header">
          <h1>Dealership</h1>
        </div>

        <div class="input_box">
          <form action="/dealership" method="post" enctype="multipart/form-data" id="dealershipForm"> 
            <div class="row row-cols-lg-3 row-cols-md-2">
              <div class="col-12 ">
                <input
                type="text"
                class="mt-4 form-control"
                name="name"
                placeholder="Dealership Name"
              />
                
                <input
                  type="text"
                  class="mt-4 form-control"
                  name="userid"
                  placeholder="Dealership Id"
                  required
                />

                <input
                  type="password"
                  class="mt-4 form-control"
                  name="password"
                  placeholder="Password"
                  required
                />
               
              </div>
              <div class="col-12">
                <input
                  type="email"
                  class="mt-4 form-control"
                  name="email"
                  placeholder="Email id"
                  required
                />
                <input
                type="text"
                class="mt-4 form-control"
                name="sold_vehicles"
                placeholder="Sold vehicles"
                required
              />
                
                
                <input
                  type="text"
                  class="mt-4 form-control"
                  name="location"
                  placeholder="Your location"
                  required
                />

                
                
              </div>
              <div class="col-12">
                <input
                  type="text"
                  class="mt-4 form-control"
                  name="deals"
                  placeholder="Deals"
                  required
                />
               
                <input
                  type="text"
                  class="mt-4 form-control"
                  name="cars"
                  placeholder="Cars"
                  required
                />
                <input
                  type="file"
                  class="mt-4 form-control"
                  name="images"
                  placeholder="dealership info"
                  required
                />
              </div>
              <div class="col">
                <button type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <p id="modalMessage"></p>
            <button type="button" class="btn btn-primary fs-14" id="doneButton">Done</button>
          </div>
        </div>
      </div>
    </div>
<br>
    <%- include ('./common/footer') %>

   <script src="../Admin-dashboard/assest/js/dealership.js"></script>
    
  </body>
</html>
