<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NERVESPARKS</title>
    <link rel="stylesheet" href="../Admin-dashboard/assest/css/index.css" />
  </head>
  <body>
    <%-include('./common/header')%>

    <div class="container image">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-9">
         <h1> Welcome To Admid Dashboard !</h1>
        </div>
      </div>
    </div>

    <%-include('./common/footer')%>

    <script src="../Admin-dashboard/assest/js/dashboard.js"></script>
  </body>
</html>
